@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  /* height: 100vh; */
  /* background-color: black; */
  font-family: 'Roboto Mono', monospace;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}